<div class="first-screen-page">
    <div class="first-screen-page__bg" style="background-image:url('./img/bg-visitka.jpg')"></div>
    <div class="container-content">
        <div class="first-screen-page__cont uk-width-medium-1-2 uk-width-small-1-1 uk-push-1-2">

                <div class="first-screen-page__title">
                    Цифровая печать
                    <strong>Визиток</strong>
                </div>
                <div class="first-screen-page__anons">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut, delectus aperiam blanditiis error! Natus rerum repellendus vero, veniam obcaecati error incidunt laborum nam porro facere hic deleniti! Dolore, error.
                </div>
                <div class="first-screen-page__time">
                    Срок изготовления <a href="#">1 рабочий день</a> (возможно изготовление от 2 часов).
                </div>

        </div>
    </div>
</div>
