<footer class="footer">
	<div class="container-content footer__container">
		<div class="uk-grid uk-grid-small uk-grid-width-xlarge-1-4 uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
			<div class="footer__sector">
				<div class="copy">
					© 2016 За лестницей,  <br>LLC. All Rights Reserved.
				</div>
			</div>
			<div class="footer__sector">
				<div class="footer__title">Навигация</div>
				<ul class="footer-menu">
					<li class="footer-menu__item"><a href="#" class="footer-menu__link">Главная</a></li>
					<li class="footer-menu__item"><a href="#" class="footer-menu__link">Услуги</a></li>
					<li class="footer-menu__item"><a href="#" class="footer-menu__link">Контакты</a></li>
				</ul>
			</div>
			<div class="footer__sector">
				<div class="footer__title">Контактная информация</div>
				<div class="footer__contacts">
					г.Екатеринбург, ул. Карла Либкнехта, 22 - 1 этаж <br>
					Телефон: <a href="tel:+7(343)328-07-37">+7(343)328-07-37</a> <br>
					E-mail: <a href="mailto:3280737@mail.ru">3280737@mail.ru</a>
				</div>
				<a href="#modal-feedback" class="btn uk-margin-top" data-uk-modal>Написать письмо</a>
			</div>
			<div class="footer__sector">
				<div class="dev">Сайт разработан, <br> Elgrow, 2016</div>
			</div>
		</div>
	</div>
</footer>


<!-- This is the modal -->
<div id="modal-feedback" class="uk-modal modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>
        <div class="modal__title">Обратная связь</div>
		<div class="uk-form form">
			<form action="">
				<div class="uk-grid uk-grid-width-medium-1-2 uk-grid-width-small-1-1">
					<div class="form__field">
						<label for="name">Ваше имя <sup>*</sup></label>
						<input type="text" class="uk-width-1-1" name="name" id="name">
					</div>
					<div class="form__field">
						<label for="email">Ваш e-mail <sup>*</sup></label>
						<input type="text" class="uk-width-1-1" name="email" id="email">
					</div>
					<div class="form__field">
						<label for="phone">Ваш телефон <sup>*</sup></label>
						<input type="text" class="uk-width-1-1" name="phone" id="phone">
					</div>
					<div class="form__field">
						<label for="theme">Тема сообщения</label>
						<input type="text" class="uk-width-1-1" name="theme" id="theme">
					</div>
				</div>

				<div class="form__field">
					<label for="">Описание задачи</label>
					<p class="">Подробно опишите задачу для нас, указав формат печати, тип бумаги, цвет (ч/б) или цветная, количество копий для каждого файла. Примерно так: файл "отчет" - А4, 80гр, ч/б. 1 копия. Или файл "градиент" А3, 200 гр. цветной. Также укажите все Ваши пожелания:</p>
					<textarea name="" id="" cols="30" rows="10" class="uk-width-1-1"></textarea>
				</div>
				<div class="uk-margin">
					<i>Заказ будет выполнен в порядке очереди, для уточнения времени готовности свяжитесь с нами по телефону.</i>
				</div>
				<div class="form__field">
					<label for="">Прикрепить файл</label>
					<div class="uk-form-file"><i class="uk-icon-paperclip"></i>Файл не выбран<input type="file"></div>
				</div>
				<div class="uk-margin uk-text-center">
					<button type="submit" class="btn">Отправить</button>
				</div>
			</form>
		</div>
    </div>
</div>
