<div class="fotogallery uk-margin-large">
    <ul class="fotogallery__list">
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>
        <li class="fotogallery__item">
            <a href="./img/foto.jpg" class="fotogallery__link" data-uk-lightbox="{group:'foto'}">
                <img src="./img/foto.jpg" alt="">
            </a>
        </li>

    </ul>
</div>
