<header class="header header_hm">
	<div class="header__top uk-text-center">
    <div class="container-content">
      <a href="/" class="logo"><img src="./img/logo.png" alt="За лестницей"></a>
    </div>

	</div>
	<div class="header__bottom header__service">
		<div class="container-content">
			//= ../template/services-nav.html
		</div>
	</div>
</header>
