<header class="header">
	<div class="header__top">
		<div class="header__container container-content">
			<div class="header__left">
				<a href="/" class="logo"><img src="./img/logo.png" alt="За лестницей"></a>
				<a href="tel:+7 (343) 328-07-37" class="phone"><i class="uk-icon-phone"></i> +7 (343) 328-07-37</a>
			</div>
			<div class="header__center">
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item"><a href="index.html" class="nav__link">Главная</a></li>
						<li class="nav__item"><a href="services.html" class="nav__link">Услуги</a></li>
						<li class="nav__item"><a href="contacts.html" class="nav__link">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="header__right">
				<div class="search">
					<form action="" class="">
						<button class="uk-icon-search search__btn" type="submit"></button>
						<input type="search" placeholder="Поиск" class="search__inp">
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="header__title">
		<div class="container-content">
			<h1>Услуги</h1>
		</div>
	</div>
</header>
