<div class="hm-slider">

    <div class="hm-slider__bg">
        <ul class="bxslider" id="hm-bxslider">
            <li style="background-image:url('./img/hm-slide-1.jpg')" data-caption="<div class='hm-slider__top-h'>Интернет магазин</div> <b class='hm-slider__h1'>Постеров</b><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora voluptas rerum id nostrum maxime velit impedit reiciendis ab ratione repudiandae assumenda libero quia perspiciatis itaque error est. Iste, ipsum.</p><a href='#' class='btn'>Подробнее</a>">
              <!-- <a href="#" class="hm-slider__link"></a></li> -->
            </li>
            <li style="background-image:url('./img/hm-slide-1.jpg')" data-caption="<div class='hm-slider__top-h'>Интернет магазин</div> <b class='hm-slider__h1'>Постеров2</b><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, tempora voluptas rerum id nostrum maxime velit impedit reiciendis ab ratione repudiandae assumenda libero quia perspiciatis itaque error est. Iste, ipsum.</p><a href='#' class='btn'>Подробнее</a>">
              <!-- <a href="#" class="hm-slider__link"></a></li> -->
            </li>
        </ul>
    </div>
    <div class="container-content">
        <div class="hm-slider__caption" id="hm-bxslider-caption"></div>
    </div>
    <div class="hm-slider__nav-pos uk-slidenav-position">
        <div id="hm-bxslider-left" class="hm-slider__nav-prev uk-slidenav"></div>
        <div id="hm-bxslider-right" class="hm-slider__nav-next uk-slidenav"></div>
    </div>
</div>
