<div class="map">
    <div class="map__container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10381.127616890357!2d60.60122712775355!3d56.83971283421632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16e886132c2e7%3A0x899b35cd7c393b35!2z0YPQuy4g0JrQsNGA0LvQsCDQm9C40LHQutC90LXRhdGC0LAsIDIyLCDQldC60LDRgtC10YDQuNC90LHRg9GA0LMsINCh0LLQtdGA0LTQu9C-0LLRgdC60LDRjyDQvtCx0LsuLCA2MjAwNzU!5e0!3m2!1sru!2sru!4v1467979624222" width="600" height="415" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="map__cover"></div>
</div>
