<div class="services-nav">
    <div class="container-content">
        <ul class="services-nav__list">
            <li class="services-nav__item">
                <a href="#">Визитки</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Листовки, флаеры, буклеты</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печати и штампы</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Копирование</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать A3-A4</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать А2-А0</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Планшеты на пенокартоне</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Свадебные пригласительные</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать на футболках</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать на кружках</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Фотомагниты</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Пазлы</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Визитки</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать А2-А0</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Планшеты на пенокартоне</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Свадебные пригласительные</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать на футболках</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Печать на кружках</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Фотомагниты</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Пазлы</a>
            </li>
            <li class="services-nav__item">
                <a href="#">Визитки</a>
            </li>
        </ul>
    </div>
</div>
