<div class="services">
    <div class="services__bg">
        <div class="container-content">
            <div class="services__list uk-grid uk-grid-collapse uk-grid-width-large-1-2 uk-grid-width-medium-1-1" data-uk-grid-match>
                <div class="service">
                    <a href="services__one.html" class="service__link" title="Визитки"></a>
                    <h3 class="service__title">Визитки</h3>
                    <div class="service__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga aut, autem culpa velit id optio error consectetur, modi odit dicta sit vitae sunt rerum qui dignissimos nobis. Voluptate, fuga?</div>
                    <span class="more">Подробнее ></span>
                    <div class="service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
                <div class="service">
                    <a href="services__one.html" class="service__link" title="Визитки"></a>
                    <h3 class="service__title">Визитки</h3>
                    <div class="service__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga aut, autem culpa velit id optio error consectetur, modi odit dicta sit vitae sunt rerum qui dignissimos nobis. Voluptate, fuga? Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Aliquam animi quam accusamus illo, veniam deleniti facilis deserunt cupiditate natus minima nostrum ipsum libero totam voluptatem ratione consequuntur non molestias modi!</div>
                    <span class="more">Подробнее ></span>
                    <div class="service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
                <div class="service">
                    <a href="services__one.html" class="service__link" title="Визитки"></a>
                    <h3 class="service__title">Визитки</h3>
                    <div class="service__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga aut, autem culpa velit id optio error consectetur, modi odit dicta sit vitae sunt rerum qui dignissimos nobis. Voluptate, fuga?</div>
                    <span class="more">Подробнее ></span>
                    <div class="service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
                <div class="service">
                    <a href="services__one.html" class="service__link" title="Визитки"></a>
                    <h3 class="service__title">Визитки</h3>
                    <div class="service__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga aut, autem culpa velit id optio error consectetur, modi odit dicta sit vitae sunt rerum qui dignissimos nobis. Voluptate, fuga?</div>
                    <span class="more">Подробнее ></span>
                    <div class="service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
                <div class="service">
                    <a href="services__one.html" class="service__link" title="Визитки"></a>
                    <h3 class="service__title">Визитки</h3>
                    <div class="service__anons">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro fuga aut, autem culpa velit id optio error consectetur, modi odit dicta sit vitae sunt rerum qui dignissimos nobis. Voluptate, fuga?</div>
                    <span class="more">Подробнее ></span>
                    <div class="service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-margin-large services__more">
        <div class="container-content uk-text-center">
            <a href="#" class="btn">Показать еще</a>
        </div>
    </div>
</div>
