<div class="slider-service">
    <div class="uk-slidenav-position" data-uk-slider>

    <div class="uk-slider-container">
        <ul class="uk-slider uk-grid-width-xlarge-1-4 uk-grid-width-large-1-3 uk-grid-width-medium-1-2 uk-grid-width-small-1-1 " data-uk-grid-match>
            <li class="slider-service__li">
                <a href="" class="slider-service__link"></a>
                <div class="slider-service__item">
                    <div class="slider-service__title">Визитки</div>
                    <div class="slider-service__caption">Бумага Xerox Colotech 300гр, дизайнерская бумага лен, маджестик и др. lorem</div>
                    <div class="slider-service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
            </li>
            <li class="slider-service__li">
                <a href="" class="slider-service__link"></a>
                <div class="slider-service__item">
                    <div class="slider-service__title">Визитки</div>
                    <div class="slider-service__caption">Бумага Xerox Colotech 300гр, дизайнерская бумага лен, маджестик и др. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, architecto incidunt cumque perspiciatis iure quo maiores tempora deserunt. Unde nesciunt sed sit, placeat commodi illo maiores, adipisci excepturi eveniet explicabo!</div>
                    <div class="slider-service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
            </li>
            <li class="slider-service__li">
                <a href="" class="slider-service__link"></a>
                <div class="slider-service__item">
                    <div class="slider-service__title">Визитки</div>
                    <div class="slider-service__caption">Бумага Xerox Colotech 300гр, дизайнерская бумага лен, маджестик и др.</div>
                    <div class="slider-service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
            </li>
            <li class="slider-service__li">
                <a href="" class="slider-service__link"></a>
                <div class="slider-service__item">
                    <div class="slider-service__title">Визитки</div>
                    <div class="slider-service__caption">Бумага Xerox Colotech 300гр, дизайнерская бумага лен, маджестик и др.</div>
                    <div class="slider-service__img">
                        <img src="./img/slide-serv-1.png" alt="Визитки">
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slider-item="previous"></a>
    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slider-item="next"></a>

</div>

</div>
