.anchor-next {
    .rounded(50%);
    display: block;
    margin: auto;
    cursor: pointer;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    color: #bdbfc2!important;
    border: 1px solid #bdbfc2;
    font-size: 25px;
    line-height: 36px;
    border-radius: 50%;
    position: relative;
    opacity: 0.8;
    font-family: FontAwesome;
    text-decoration: none !important;
    &:hover {
        opacity: 1;
    }
    text-align: center;
    &:before {
        content: '\f107';
    }
}
