.btn {
    .uk-button;
    background: @col-primary;
    color: #fff;
    text-decoration: none !important;
    .rounded(2px);
    cursor: pointer;
    &:hover {
        background: lighten(@col-primary, 10%);
        color: #fff;
    }
}
