.first-screen-page {
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: block;
        background-position: 0 50%;
        -webkit-background-size: cover;
        background-size: cover;
    }

    &__cont {
        padding: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        color: #333;
        left: 50%;
    }

    &__title {
        color: #727173;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        strong, b {
            display: block;
            color: #333;
            font-size: 42px;
            .font;
        }
    }
    &__anons {
        margin: 30px 0;
        position: relative;
    }
    &__time {
        padding: 16px 0;
        position: relative;
        &:before {
            content: '';
            width: 190px;
            max-width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            top: 0;
            background: #c6c3c8;
        }
    }
}
