.foot-wrap {
    height: @footer-height;
}

.footer {
    min-height: @footer-height;
    margin-top: 0 - @footer-height;
    position: relative;
    z-index: 2;
    background: @col-bg;
    color: #6b6b6b;
    &_hm {
      background: #fff;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
        &.btn {
            color: #fff;
        }
    }
    &__sector {
        margin-top: 27px;
        margin-bottom: 27px;
    }
    &__title {
        text-transform: uppercase;
        .font;
        color: #383838;
        margin-bottom: 10px;
    }
    .dev {
        float: right;
        @media only screen and (max-width: @breakpoint-xlarge) {
            float: none;
        }
    }
}
.footer-menu {
    .list-reset;
    &__item {
        margin: 5px 0;
    }
    &__link {
        color: inherit !important;
    }
}
.copy, .dev {
    font-size: 11px;
}
