.fotogallery {
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    &__list {
        .list-reset;
        margin: 0;
        .clearfix;
        display: inline-block;
    }
    &__item {
        width: 180px;
        height: 180px;
        float: left;
        margin: 0;
        img {
            display: block;
            border: 1px solid #fff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}
