.header {
    background-color: #292929;
    color: #fff;
    background-image: url('@{img}bg-header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    z-index: 4;
    &_hm {
      background: #fff;
    }
    &__top {
        background-color: #292929;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    &__container {
        text-align: justify;
        line-height: 0;
        &:after {
            content: '';
            .inblock();
            width: 100%;
        }
    }
    &__left, &__center, &__right {
        .inblock(middle);
        line-height: normal;
    }
    .logo {
        margin-right: 10px;
        .inblock(middle);
        padding: 6px 0 0px;
    }
    .phone {
        .inblock(middle);
        padding: 5px 0;
    }

    &__title {
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        padding: 30px;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            background: #000;
            opacity: 0.32;
        }
        h1 {
            color: inherit;
            .font;
            font-size: 42px;
            position: relative;
            z-index: 2;
            margin: 0;
        }
    }
}

.nav {
    &__list {
        .list-reset;
    }
    &__item {
        .inblock();
        padding: 5px 0;
        margin: 0 25px;
        text-transform: uppercase;
        color: #c2c2c2;
        &:hover, .on {
            color: #fff;
        }
    }
    &__link {
        text-decoration: none !important;

    }
}


@media  only screen  and (max-width:360px){
    .header {
        &__center {
            display: block;
        }
    }
    .nav {
        display: block;
        &__item {
            display: block;
            margin-left: 0;
            margin-right: 0;
        }
    }
}
