.hm-slider {
    -webkit-flex-grow: 2;
    flex-grow: 2;
    position: relative;
    min-height: 400px;


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff0f1+0,f8f8f8+100 */
background: #eff0f1; /* Old browsers */
background: -moz-linear-gradient(45deg,  #eff0f1 0%, #f8f8f8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #eff0f1 0%,#f8f8f8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #eff0f1 0%,#f8f8f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff0f1', endColorstr='#f8f8f8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


    .list-reset;
    &__title {
        position: relative;
        z-index: 2;
        text-align: center;
        // font-size: 100px;
        padding: 50px 0;
        line-height: normal;
    }

    .bx-wrapper, .bx-viewport, .bxslider, .bxslider li {
        margin: 0;
        background: none;
        border: none;
        box-shadow: none;
    }
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        .bx-wrapper, .bx-viewport, .bxslider, .bxslider li {
            height: 100% !important;
            width: 100%;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50% 0;
            background-repeat: no-repeat;
        }
        .bx-pager.bx-default-pager {
            z-index: 5;
            bottom: 25px;
            .hidden;
            a {
                background: #bebebe;
                &.active {
                    background: @col-primary;
                }
            }
        }
    }
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: block;
    }
    &__caption {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 50px 0;
        font-size: 15px;
        color: #333;
        max-width: 500px;
        margin: 50px auto;
        .hm-slider__top-h {
          text-transform: uppercase;
          // pointer-events: none;
        }
        .hm-slider__h1 {
            .font;
            font-size: 42px;
            display: block;
            text-transform: uppercase;
        }
    }
    &__nav-pos {
        position: static;
    }
    &__nav-prev {
        left: 20px;
        &:before {
            content: "\f104";
            font-family: FontAwesome;
        }
        &:after {
            content: 'Предыдущий';
            font-size: 13px;
            .font_l;
            position: absolute;
            left: 100%;
            margin-left: 10px;
        }
    }
    .uk-slidenav {
        z-index: 5;
        a {
            .rounded(50%);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: block;

        }
        &:after {
            display: none;
            top: 0;
            line-height: 36px;
        }
        &:hover {
            &:after {
                display: block;
            }
        }
    }
    &__nav-next {
        right: 20px;
        &:before {
            content: "\f105";
            font-family: FontAwesome;
        }
        &:after {
            content: 'Следующий';
            font-size: 13px;
            .font_l;
            position: absolute;
            right: 100%;
            margin-right: 10px;
        }
    }
}
