.map {
    position: relative;
    height: 416px;
    &__container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.touch {
    .map {
        &__cover {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            cursor: default;
            z-index: 10;
        }
    }
}
