.search {
    position: relative;
    margin: 5px 0;
    &__btn {
        position: absolute;
        left: 0;
        top: 0;
        background: none;
        border: none;
        color: #fff;
        line-height: 30px;
        cursor: pointer;
        z-index: 2;
        width: 30px;
        text-align: center;
    }
    &__inp {
        .rounded(2px);
        background: none;
        border: 1px solid #c2c2c2;
        padding: 7px 7px 7px 36px;
        color: #fff;
        &:focus {
            border-color: #fff;
            outline: none;
        }
    }
}
