.services {
    margin-bottom: 30px;
    &__list {
        display: block;
    }
    &__bg {
        background: #fafafa;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            height: 5px;
            width: 6000px;
            left: 0;
            bottom: 0;
            display: block;
            background: #fff;
        }
    }
    .service {
        border-bottom: 5px solid #fff;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            height: 5px;
            width: 6000px;

            top: 100%;
            display: block;
            background: #fff;
        }
        &:nth-child(odd) {
            padding-right: 40px;
            border-right: 2.5px solid #fff;

            &:after {
                right: 0;
            }
        }
        &:nth-child(even) {
            padding-left: 40px;
            border-left: 2.5px solid #fff;
            &:after {
                left: 0;
            }
        }
    }
}


.service {
    padding: 30px 0px;
    position: relative;
    color: #4f4f4f;
    &__title {
        color: #383838;
        font-size: 20px;

        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__anons {
        margin: 10px 0;
    }
    .more {
        cursor: pointer;
        color: @col-primary;
        display: block;
        margin: 1em 0;
    }
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &__img {
        margin-top: 20px;
        width: 220px;
        min-height: 128px;
        position: relative;
        img {
            max-width: 100%;
            max-height: 100%;

        }
    }
}

@media only screen and (max-width: @breakpoint-large) {
    .services {
        .service {
            padding-left: 0;
            padding-right: 0;
            border-left: 0;
            border-right: 0;
            &:nth-child(even), &:nth-child(odd) {
                padding-left: 0;
                padding-right: 0;
                border-left: 0;
                border-right: 0;
            }
            &:after {
                .hidden;
            }
        }
    }
}
