.services-nav {
    padding: 20px 0;
    line-height: 1.5;
    &__list {
        .list-reset;

        max-width: 1000px;
        margin: 0 auto;
        @media only screen and (min-width: @breakpoint-medium){
          -webkit-columns: auto 2;
          -moz-columns: auto 2;
          -o-columns: auto 2;
          columns: auto 2;
        }
        @media only screen and (min-width: @breakpoint-large){
          -webkit-columns: auto 4;
          -moz-columns: auto 4;
          -o-columns: auto 4;
          columns: auto 4;
        }
        a {
            
            text-decoration: none !important;
            color: inherit !important;
        }
    }
    &__item {
        color: #383838;
        &:hover {
            color: #309fe1;
        }
    }
}
