.uk-slidenav-position .uk-slidenav {
    margin-top: -18px;
    display: block;
}
.uk-slidenav {
    width: 36px;
    height: 36px;
    margin-top: -18px;
    color: #bdbfc2 !important;
    border: 1px solid #bdbfc2;
    font-size: 25px;
    line-height: 31px;
    .rounded(50%);
    opacity: 0.8;
    &:active, &:hover {
        color: #bdbfc2;
        opacity: 1;
    }
}
