.slider-service {
    .clearfix;
    background: @col-bg;
    &__link {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 2;
    }
    &__li {
        background: @col-bg;
        outline: 2px solid #fff;
    }
    &__item {
        padding: 15px 40px;
        text-align: center;
    }
    &__title {
        color: #383838;
        font-size: 16px;
        .font;
        text-transform: uppercase;
        margin-bottom: 7px;
    }
    &__caption {
        margin: 10px 0;
    }
    &__img {
        margin: auto;
        width: 145px;
        height: 85px;
        position: relative;
        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
