.content {
    margin: 35px auto;
    color: #333333;
    h1, h2, h3, h4 ,h5 ,h6 {
        text-transform:none;
        .font;
    }
    h3 {
        font-size: 18px;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid transparent;
        th, td {
            padding: 5px;
        }
        th {
            color: #fff;
            background: @col-primary;
            text-align: center;
        }
        td {
            border: 1px solid #e6e6e6;
        }
    }
}

.wrap-tbl {
    overflow: auto;
    max-width: 100%;
}
