.form {
    color: #464451;
    label {
        display: block;
        margin-bottom: 10px;
        .font;
    }
    &__field {
        margin: 10px 0;
    }

    input, textarea {
        .rounded(2px);
        &:focus {
            background: #f4fafd;
            outline: none !important;
        }
    }
    textarea {
        height: 120px;
    }
    .uk-form-file {
        color: #a8a8a8;
        i {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}
