.hm-page {
    & + .footer {
        margin-top: 0;
    }
    & ~ .footer {
        margin-top: 0;
    }
    &__column {
        min-height: 100vh;
        width: 100%;
        .footer {
          margin-top: 0;
          height: auto;
        }
    }
    .header {
        &__title {
            .hidden;
        }
    }
}
