.uk-modal-dialog {
    width: 660px;
    
}
.modal {
    .uk-modal-dialog {
        padding: 30px;
    }
    .uk-modal-close {
        font-size: 20px;
    }
    &__title {
        color: #464451;
        text-align: center;
        text-transform: uppercase;
        .font;
        font-size: 17px;
        margin: 25px 0;
    }
}
