// LAYOUT
@max-width: 1200px; // Максимальная ширина контента сайта
@left-column-width: 215px; // Ширина левой колонки
@footer-height: 190px; // Высота футера


//PATH
@img: "../img/";// Путь к картинкам фона
@font: "../fonts/";// Путь к шрифтам фона

//COLOR FOR SITE
@col-primary: #309fe1;
@col-bg: #eff0f1;
